<!doctype html>
<html lang="en">

<head>
    <title>UIDAI - Aadhaar Inbox</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="/chat" method="POST">
        <h1 class="h2 mb-3 font-weight-normal">UIDAI - Aadhaar Inbox</h1><br>
        <h4 class="h2 mb-3 font-weight-normal">Address Claims</h4><br>
        <!-- <input type="number" id="number" name="number" class="form-control" placeholder="Landlord Aadhaar Number" required><br> -->
        <button class="btn btn-lg btn-primary btn-block" value="submit">Approve</button>
        <button class="btn btn-lg btn-primary btn-block" value="submit">Decline</button>
    </form>
</body>

</html>