<!doctype html>
<html lang="en">

<head>
    <title>UIDAI - Aadhaar</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="{{url_for('chat')}}" method="POST">
        <h1 class="h2 mb-3 font-weight-normal">UIDAI - Aadhaar</h1>
        <h4 class="h2 mb-3 font-weight-normal">Address Request</h4><br>
        <label for="usr">Welcome, To UIDAI - Aadhaaar Chat !</label><br>
        <label for="usr">UID : <strong>999986895578</strong></label><br><br>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="Vijayaraghavan" required autofocus><br>
        <input type="text" id="room" name="room" class="form-control" placeholder="Room" value="hKgchr" required><br>
        <button class="btn btn-lg btn-primary btn-block" value="submit">Start Chat</button>
    </form>
</body>

</html>