<!doctype html>
<html lang="en">

<head>
    <title>UIDAI - Aadhaar Inbox</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="/approved" method="POST">
        <h1 class="h2 mb-3 font-weight-normal">UIDAI - Aadhaar Inbox</h1><br>
        <h4 class="h2 mb-3 font-weight-normal">Address Request</h4><br>
        <label for="usr">UID : <strong>999986894163</strong></label><br>
        <label for="usr">Name : <strong>Vijayaraghavan</strong></label><br>
        <label for="usr">Response For The Request</label><br>
        <!-- <input type="number" id="number" name="number" class="form-control" placeholder="Landlord Aadhaar Number" required><br> -->
        <button class="btn btn-lg btn-primary" value="submit">Approve</button>
        <button class="btn btn-lg btn-primary" value="submit">Decline</button>
    </form>

</body>

</html>